header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.about-me {
    margin: 20px;
}

div.resume {
    margin: 20px;
}

div.education {
    margin: 20px;
}

div.projects {
    margin: 20px;
}

div.contact {
    margin: 20px;
}

a:link {
    text-decoration: none;
}

h1, h2, .description {
    position: relative;
    margin: 10px;
    left: 948px;
    top: 200px;
}

h1 {
    width: 246px;
    height: 117px;
    font-size: 100px;
}

h2 {
    width: 216px;
    height: 25px;
}

.description {
    width: 371px;
    height: 94px;
}

img{
    position: absolute;
    display: flex;
    width: 378px;
    height: 366px;
    object-fit: fill;
    left: 536px;
    bottom: 320px;
    border-radius: 183.5px;
    scale: 100%;

}

.button {
    font-size: 16px;
}

.phone, .email, .socials {
    position: relative;
    display: flex;
}
